body {
    background-color: #B2D426;
}



.father {
    background-color: #B2D426;
    display: flex; 
    margin-top: 60px;
    width: 1000px;
}

.applytext{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
}
  
.formlist{
    font-size: 25px;
    font-weight: bold;
    margin-right: 50px;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;  
}


.imgapply {
    display: flex; 
    width: 400px;
}

.imgapply img{
    width: 200px;
}

@media only screen and (max-width: 1250px) {
 
    .father {
        flex-direction: column;
    }
      
    .imgapply {
        margin-top: 30px;
    }

}

